<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todo al backend de Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ vooky-back/public/index.php [L]
</IfModule>
